SabaMediaLock/SabaMediaLock.Locker/Service References/SiteServiceReference/SiteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13402/SiteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13402/SiteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISiteService_CanLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CanLogin" />
  </wsdl:message>
  <wsdl:message name="ISiteService_CanLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteService_IsSoftwareUniqueNameValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSoftwareUniqueNameValid" />
  </wsdl:message>
  <wsdl:message name="ISiteService_IsSoftwareUniqueNameValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSoftwareUniqueNameValidResponse" />
  </wsdl:message>
  <wsdl:portType name="ISiteService">
    <wsdl:operation name="CanLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteService/CanLogin" message="tns:ISiteService_CanLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteService/CanLoginResponse" message="tns:ISiteService_CanLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSoftwareUniqueNameValid">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteService/IsSoftwareUniqueNameValid" message="tns:ISiteService_IsSoftwareUniqueNameValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteService/IsSoftwareUniqueNameValidResponse" message="tns:ISiteService_IsSoftwareUniqueNameValid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISiteService" type="tns:ISiteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanLogin">
      <soap:operation soapAction="http://tempuri.org/ISiteService/CanLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSoftwareUniqueNameValid">
      <soap:operation soapAction="http://tempuri.org/ISiteService/IsSoftwareUniqueNameValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteService">
    <wsdl:port name="BasicHttpBinding_ISiteService" binding="tns:BasicHttpBinding_ISiteService">
      <soap:address location="http://localhost:13402/SiteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>